<!doctype html>
<html lang="en">
{%extends "mainTemplate.html"%}
{%block title%}Profile{%endblock%}
{%block content%}
<head>
</head>
<body>
    <div class="card text-center position-static">
        <img src="" width="100" class="rounded-circle">
        <div class="card header">{%print(session.get("first") + " " + session.get('last'))%}</div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Email: {%print(session['user'])%} </li>
            <li class="list-group-item">Phone: {%print(session['phone'])%}</li>
            <li class="list-group-item">StarID: {%print(session['starId'])%}</li>

        </div>

    </div>
    {%endblock%}
</body>